/* RESET CSS */
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0;
	color: #4c4f5f;
	font: 400 16px/1 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	font-weight: normal;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover, a:active, a:focus {
	color: inherit;
	text-decoration: none;
}
ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
p {
  line-height: 1.125em;
}
img {
  max-width: 100%;
  max-height: 100%;
}
textarea {
	resize: vertical;
}
button:hover, button:active, button:focus  {
	outline: none!important;
}
/* RESET END */

/* FLEX UTILITY */
/* === display === */
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* === direction === */
.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-row-revers {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-column-revers {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

/* === wrap === */
.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-nowrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

/* === justify === */
.justify-content-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.justify-content-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.justify-content-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/* === align-items === */
.align-items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.align-items-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.align-items-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.align-items-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

/* === align-content === */
.align-content-start {
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
.align-content-end {
  -ms-flex-line-pack: end;
  align-content: flex-end;
}
.align-content-center {
  -ms-flex-line-pack: center;
  align-content: center;
}
.align-content-between {
  -ms-flex-line-pack: justify;
  align-content: space-between;
}
.align-content-around {
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

/* === align-self === */
.align-self-start {
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.align-self-end {
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.align-self-center {
  -ms-flex-item-align: center;
  align-self: center;
}
.align-self-baseline {
  -ms-flex-item-align: baseline;
  align-self: baseline;
}
.align-self-stretch {
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

/* === order === */
.order-1 {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.order-2 {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
.order-3 {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}
.order-4 {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
}
.order-5 {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
}
.order-6 {
  -webkit-box-ordinal-group: 7;
  -ms-flex-order: 6;
  order: 6;
}
.order-7 {
  -webkit-box-ordinal-group: 8;
  -ms-flex-order: 7;
  order: 7;
}
.order-8 {
  -webkit-box-ordinal-group: 9;
  -ms-flex-order: 8;
  order: 8;
}
.order-9 {
  -webkit-box-ordinal-group: 10;
  -ms-flex-order: 9;
  order: 9;
}
.order-10 {
  -webkit-box-ordinal-group: 11;
  -ms-flex-order: 10;
  order: 10;
}
.order-11 {
  -webkit-box-ordinal-group: 12;
  -ms-flex-order: 11;
  order: 11;
}
.order-12 {
  -webkit-box-ordinal-group: 13;
  -ms-flex-order: 12;
  order: 12;
}
/* FLEX UTILITY END */

/* DEFAULT CLASSES */
.container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}
.bg-grey {
	background-color: #f6f6f6;
}
.bg-white {
	background-color: #fff;
}
.text-white {
	color: #fff;
}
/* DEFAULT CLASSES END */

/* DEFAULT COMPONENT */

.default-section {
	padding: 70px 0;
}
/* === BUTTON === */
.btn {
	font-size: 16px;
	font-weight: 500;	
	line-height: 1;
	padding: 14px 30px;
	border-radius: 25px;
}
.btn:active, .btn:hover, .btn.focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
}
.btn {
  color: #4c4f5f;
	background-color: #fff;
}
.btn.btn-default {
  padding: 18px 30px;
  width: 237px;
  display: inline-block;
  text-align: center;
}
.btn.apple > * {
  font-size: 23px;
  vertical-align: middle;
  margin-right: 15px;
}
.btn:hover {
	color: #fff;
	background-color: #e0a446;
}
.btn.apple.small {
  padding: 13px 20px;
  width: 150px;
  display: inline-block;
  text-align: center;
}
.btn.small {
  padding: 16px 30px;
}
/* === BUTTON END === */

/* === TITLE === */
.title {
  font-size: 25px;
  font-weight: 700;
}
.title > * {
  font-size: 25px;
}
.title.small {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.125em;   
}
.title.small > * {
  font-size: 20px;
}
/* === TITLE END === */
.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 30px 0 20px;
	z-index: 100;
}
/* DEFAULT COMPONENT END */

/* CUSTOM STYLE */
/* === INNER === */
.inner {
  height: 100vh;
  background: url('../img/inner-bg.jpg') no-repeat center/cover;
  position: relative;
}
.inner .container {
  padding-top: 117px;
  height: 100%;
}
.inner .container img {
  margin-left: -5px;
}
.inner-content {
  font-size: 38px;
}
.inner .inner-content {
  margin-left: 135px;
}
.inner-content h1 {
  line-height: 1.447em;
  font-weight: 700;
  letter-spacing: .05em;
  margin-bottom: 25px;
}
.inner-content span {
  line-height: .921em;
  font-weight: 300;
  letter-spacing: .03em;
}
.inner-content p {
  font-size: 16px;
  line-height: 2.187em;
  font-weight: 500;
  margin: 45px 0;
}
.inner-content .btn.apple.small > *{
  font-size: 22px;
}
.inner-content .btn + .btn {
  margin-left: 25px;
} 
/* === INNER END === */

/* === CAPABALITIES === */
.capabilities-list {
  margin-top: 80px;
}
.capabilities-item-img {
  margin-top: 4px;
  margin-right: 14px;
}
.capabilities-text {
  max-width: 300px;
}
.block-left .title, .capabilities-item .title.small {
  margin-bottom: 10px;
}
.capabilities-item .title.small > img {
  margin-right: 14px;
}
.capabilities-item + .capabilities-item {
  margin-top: 40px;
}
/* === CAPABALITIES END === */

/* === APPLICATION === */
.application {
  background: url('../img/small-section-bg.jpg') no-repeat center/cover;
  padding: 100px 0;
}
.application .title {
  font-weight: 500;
  margin-bottom: 15px;
}
.application .application-btn {
  margin-top: 65px;
}
.application-btn .btn > * {
  margin-right: 27px;
}
.application-btn .btn.apple {
  padding: 14px 31px;
}
.application-btn .btn + .btn {
  margin-left: 27px;
}
/* === APPLICATION END === */

/* === FOOTER === */
.footer {
  padding: 80px 0 40px;
}
.footer .container > * {
  font-size: 20px;
  font-weight: 700;
}
.footer .container > a {
  color: #469ee0;
}
/* === FOOTER END === */
/* CUSTOM STYLE END*/